<h1><strong><u>Liste des Corsairs</u></strong></h1>

<br/>

<% @corsairs.each do |corsair| %>
	<h3><strong>Prénom : </strong><%= corsair.first_name %></h3>

	<h3><strong>Âge : </strong><%= corsair.age %></h3>
	<p>
		<a href='<%= corsair_path(corsair.id) %>' class='btn btn-primary'>En savoir plus</a>
	</p>
<% end %>

<br/>

<p>
	<a href='<%= new_corsair_path %>' class='btn btn-success'>Créer un nouveau Corsair</a>
</p>